.bg{
    background-image: url(/src/layout/spider.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    padding: 10px;
    margin-top: 30px;
    
    margin: 10px -10px -30px  ;
    height: 650px;
    display: flex;
    justify-content: center;

    
  

   
}

.form{
    font-family: Arial, Helvetica, sans-serif;
    color:red;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    width: 300px;
    align-items: center;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.565);
    padding: 10px;
    margin-top: 30px;
    margin: -10px -10px;
    
    
    
    
   
  


}

.form input{
    background-color: rgb(255, 255, 255);
    padding: 7px;
    margin-bottom: 2em;
    border: none;
    
}
.form input ::placeholder{
    font-weight: bold;
    color: black;
    background-color: black;
}

.form label{
    color: white;
    font-size: 1.2em;
    margin-bottom: .7em ;
    font-weight: bold;
}

.form button{
    background-color: rgb(8, 161, 8);
    font-weight: bold;
    margin-top: 2em;
    padding: 07px;
    width: 150px;
    border: none;
}

.form button:hover{
    background-color: rgb(21, 221, 21);
}

.item{
    color:white;
    font-weight: bold;
}

@media screen and (max-width:768px){
    .bg{
       
        background-color: black;
    }
    .form{
        width: 200px;
        height: 400px;
        align-items: center;
        padding: 2px;
    }
    .form input{
        width: 130px;
        
    }
    .form label{
        font-size: 1em;
    }
}

